.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    background-color: #202020;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  
  .link {
    color: #c0c0c0;
    text-decoration: none;
    font-weight: bold;
  }

  .link:hover {
    color: #b37cc4;
  }

  .active {
    color: #b37cc4;
    text-shadow: 0 0px .7px #b37cc4;
    text-decoration: underline;
  }