.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: .3;
  padding: 2%
}

.title {
  color: #202020;
  font-size: 3em;
  font-weight: bold;
}

.description {
  color: #606060;
  font-size: 1.5em;
}